<html lang="en">

<head>
<title>登录</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<script src="../js/vue.min.js"></script>
	<script src="../js/axios.min.js"></script>
</head>

<body>
	<!--容器-->
	<div class="container-fluid">

		<!--导航栏-->
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
			<div class="col-lg-4">
				<img src="..\img\logo-topbar.gif">
			</div>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link"
						href="cart.html"> <img src="..\img\cart.gif"> <span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="login.html">Sign
							In</a></li>
					<li class="nav-item"><a class="nav-link" href="#">？</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0 ">
					<input class="form-control mr-xs-2" type="text"
						placeholder="Search">
					<button class="btn btn-outline-success my-2 my-xs-2" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<!--登录字体-->
		<div class="my-3">
			<h3 align="center">登 录.</h3>
		</div>
		<!--登录注册-->
		<div>
			<form action="account" method="POST" id="login">
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<!--用户名-->
						<div class="form-group">
							<label>昵称</label> <input type="text" name="nick"
								class="form-control" placeholder="请输入昵称"
								aria-describedby="helpId" v-model="name">
						</div>
						<!--密码-->
						<div class="form-group">
							<label>密码</label> <input type="password" name="password" class="form-control" placeholder="请输入密码"
								aria-describedby="helpId" v-model="pass">
						</div>

						<!--按钮-->
						<div class="row">
							<!--登录-->
							<div class="col-lg-6">
								<input type="hidden" name="action" value="login">
								<button type="submit" class="btn btn-outline-primary btn-lg btn-block" @click="login" onclick="return false">登录</button>
							</div>
							<!--取消-->
							<div class="col-lg-6">
								<button type="button" class="btn btn-outline-danger btn-lg btn-block" onclick="back()">返回</button>
								<script>
									function back() {
										window.location.href="../main.html";
									}
								</script>
							</div>
						</div>
					</div>
					<div class="col-lg-4"></div>
				</div>
			</form>
		</div>

		<!--注册链接-->
		<div class="my-5">
			<p align="center">
				没有账户，请先<a href="register.html">注册</a>
			</p>
		</div>

	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>
<script>
	new Vue({
		el: '#login',
		data: {
			url: "../user/login.do",
			name:"",
			pass:""
		},
		methods: {
			login() {
				let _this = this;
				let params = new URLSearchParams();
				params.append('name', _this.name);
				params.append('pass', _this.pass);
				axios.post(this.url, params).then(function (response) {
					if(response.data.code==1)
					{
						window.location.href="../main.html";
					}else
					{
						alert("账号或者密码错误")
					}
				})
			},
		}
	});
</script>
</html>