<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echoes-registry</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>注册中心</h1>

    <h3>服务列表</h3>
    <div v-for="(value, key) in list">
        <p>服务名称：{{value.serviceName}}</p>
        <p>创建时间：{{value.createDate}}</p>
        <p>节点信息：</p>
        <ul>
            <li v-for="node in value.nodeList">
                <p>IP地址：{{node.ip}}</p>
                <p>端口：{{node.port}}</p>
                <p v-if="node.live==='是'">是否存活：{{node.live}}</p>
                <p v-if="node.live==='否'">是否存活：{{node.live}} <br> 最后心跳时间：{{node.lastPingDate}}</p>
            </li>
        </ul>
    </div>

    <button @click="getData">刷新</button>
</div>
</body>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            list: []
        },
        created: function () {
            this.getData();
        },
        methods: {
            getData() {
                let _this = this;
                fetch("http://127.0.0.1:12221/echoes", {
                    method: "GET",
                    mode: "cors", // no-cors, cors, *same-origin
                    redirect: "follow", // manual, *follow, error
                    referrer: "no-referrer" // *client, no-referrer
                })
                    .then(response => response.json()) // parses response to JSON
                    .then(function (res) {
                        _this.list = res.data;
                        let now = new Date();
                        let gap = 1000 * 15;
                        for (f in _this.list) {
                            _this.list[f].nodeList.forEach(e => {
                                debugger
                                if (now.getTime() - new Date(e.lastPingDate).getTime() < gap) {
                                    e.live = '是'
                                } else {
                                    e.live = '否'
                                }
                            })
                        }
                    });
            }
        }
    })
</script>
</html>
