<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsm1998.middle.mapper.UserMapper">
    <resultMap type="com.lsm1998.middle.domain.User" id="UserResult">
        <result property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <collection property="subscribeList" ofType="com.lsm1998.middle.domain.Subscribe">
            <id column="sid" property="id"/>
            <result column="content" property="content"/>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="UserResult">
        select u.id, u.nickname,s.id as sid,s.content as content
        from t_user u
        left join t_subscribe s on u.id = s.user_id
    </select>
</mapper>
